/*
=====================================
 Astrava Panel
 Responsive CSS
 Version 1.0.0
=====================================
*/

/* ===========================
   Laptop
=========================== */

@media (max-width:1200px){

    .cards{
        grid-template-columns:repeat(2,1fr);
    }

}

/* ===========================
   Tablet
=========================== */

@media (max-width:768px){

    .sidebar{
        width:80px;
        padding:20px 10px;
    }

    .logo{
        font-size:18px;
        text-align:center;
    }

    .sidebar li{
        font-size:12px;
        text-align:center;
        padding:12px 5px;
    }

    .content{
        margin-left:100px;
        padding:20px;
    }

    .cards{
        grid-template-columns:1fr;
    }

}

/* ===========================
   Mobile
=========================== */

@media (max-width:480px){

    .topbar{
        flex-direction:column;
        align-items:flex-start;
        gap:15px;
    }

    .topbar h1{
        font-size:24px;
    }

    .card{
        padding:20px;
    }

    button{
        width:100%;
    }

}