.sidebar{
    display:flex;
    flex-direction:column;
}

.sidebar ul{
    margin-top:30px;
}

.sidebar li{
    transition:.3s;
}

.sidebar li:hover{
    transform:translateX(5px);
}

.active{
    background:#ff3b3b;
}

.logo{
    font-size:28px;
    font-weight:700;
    color:#ff3b3b;
}
